*,
*::after,
*::before {
  box-sizing: border-box;
  outline: 0 !important;
  scroll-behavior: smooth;
}

@import url(./fonts.css);

/* html {
  font-size: 62.5%;
} */
body {
  font-family: "Cera Pro";
}
